html{
    background-color:green;
}
.contenido{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contenido .formulario{
    width: 400px;
    margin-bottom: 20px;
}


.contenido table img{
    width: 100px;
    height: 100px;
}