{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Inicio {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
   <!--si es verdad me muestra todo el menu-->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Usuario
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/detalleUser">Mis Perfil</a></li>
                        <li><a class="dropdown-item" href="/register">Registrarse</a></li>
                        <li><a class="dropdown-item" href="#">Cambiar de Contraseña</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/cerrarSesion">Cerrar Sesion</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Inicio</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/contacto">Contacto</a>
                </li>
                
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/contacto">contacto</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Categorias
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/crear_categoria">Crear Nuevo</a></li>
                        <li><a class="dropdown-item" href="#">Ver categorias</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Productos
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/crear_producto">Crear Nuevo</a></li>
                        <li><a class="dropdown-item" href="/listar_productos">Ver Productos</a></li>
                    </ul>
                </li>
                

            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            </div>
        </div>
    </nav>

          <h2>Bienvenido: {{request.user.first_name|title}} {{request.user.last_name|title}}</h2>
    <!--Contenido que se cambiara-->
    
        <div class="contenido">
            {% block contenido %}

            {% endblock %}
        </div>


    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>