{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Inicio {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    
</head>
<body>
    <h1>TEMPLATE BASE HTML</h1>
    <li> 
        <a href="/">Inicio</a>
    </li>
    <li>
        <a href="/login">LOGIN</a>
    </li>
    <li>
        <a href="/detalleUser">Mis datos</a>
    </li>
    <li>
        <a href="/contacto">Contacto</a>
    </li>
    <li>
        <a href="/crear_categoria">CATEGORIAS</a>
    </li>
    <li>
        <a href="/crear_producto">Crear Producto</a>
    </li>
    <li>
        <a href="/listar_productos">listar Productos</a>
    </li>
    <hr>
    <h2>Contenido del bloque</h2>
    <!--Contenido que se cambiara-->
    
        <div class="contenido">
            {% block contenido %}

            {% endblock %}
        </div>

    <script src="{% static 'js/bootstrap.bundle.min.js' %}" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>