{% extends 'base.html' %}
{% block title %} PRODUCTOS {% endblock %}

{% load crispy_forms_tags %}

{% block contenido %}
    <div class="formulario">
        <strong>Crear Productos</strong>

        <form action="/crear_producto/" method="post" enctype="multipart/form-data" class="form-inline" role="form">
            {% csrf_token %}<!--variable de seguridad-->
        <div class="mb-3">{{ formulario }}</div>
            
            
            <button type="submit" class="btn btn-success">Registrar</button>
            <button type="reset" class="btn btn-danger">Cancelar</button>
        </form>
    </div>


{% endblock %}